CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-16MiB.csv"

CONFIG_SHIFT_OUT_DATA_PIN=3
CONFIG_SHIFT_OUT_CLK_PIN=46
CONFIG_SHIFT_IN_DATA_PIN=8
CONFIG_SHIFT_IN_CLK_PIN=16
CONFIG_SHIFT_IN_OUT_UPDATE_PIN=45

CONFIG_LOG_DEFAULT_LEVEL_INFO=y

#
# Shift output pin configuration
#
CONFIG_SHIFT_OUT_5V_PIN=7
CONFIG_SHIFT_OUT_USB_PD_RST_PIN=6
CONFIG_SHIFT_OUT_DISPLAY_DC_PIN=5
CONFIG_SHIFT_OUT_DISPLAY_RST_PIN=4
CONFIG_SHIFT_OUT_DISPLAY_BS_PIN=3
CONFIG_SHIFT_OUT_LORA_RST_PIN=2
CONFIG_SHIFT_OUT_GPS_RST_PIN=1
CONFIG_SHIFT_OUT_CP2102_RST_PIN=0
# end of Shift output pin configuration

#
# Shift input pin configuration
#
CONFIG_SHIFT_IN_LORA_BUSY_PIN=7
CONFIG_SHIFT_IN_LORA_DIO3_PIN=6
CONFIG_SHIFT_IN_LORA_DIO2_PIN=5
CONFIG_SHIFT_IN_LORA_DIO1_PIN=4
CONFIG_SHIFT_IN_DISPLAY_BUSY_PIN=3
CONFIG_SHIFT_IN_GPS_3D_FIX_PIN=2
CONFIG_SHIFT_IN_GPS_GEO_FENCE_PIN=1
CONFIG_SHIFT_IN_BAT_CHRG_OK_PIN=0
